body {
    padding-top: 50px;
    padding-bottom: 20px;
    font-size:14px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}
.home-msgbox{
    min-height:200px;
}
.ws-title{
    background-color:#333;
}
.table tbody tr:first-child{
    border-bottom:2px solid #ddd;
    background-color:#efefef;
}
.pull-right .btn-group, ul.nav-pills{
    margin-bottom:15px;
}